manifest {
    mainScript = 'main.nf'
    author = "Denis O'Meally"
    version = "0.1"
    description = "Nextflow pipeline modelled after GATK "
}

singularity {
            enabled = true
            cacheDir = "/opt/singularity-images/nextflow"
}

params { 
  output        = "results-nf/"
  name          = "bam2fastq-nf"
  bams         = "../data/bams/*.bam"
}

process {
        executor='slurm'
        queue='all'
        memory='2.G'
        cpus='1'
        time='2.h'
        }

timeline {
  enabled = true
  file = "${params.output}/pipeline_info/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/pipeline_info/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/pipeline_info/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.output}/pipeline_info/pipeline_dag.svg"
}

